body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
#sublitLogo{
  background-image: url("logo3.png");
  width: 6rem;
  height:2rem;
  background-size: cover;
  margin-top:1rem;
  margin-left:1rem;
}
.top_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    margin-block-start: 5px;
  }

  a {
    text-decoration: none;
  }
}

.new_listing {
  display: flex;
  flex-direction: column;
  width: 50%;

  input {
    margin: 5px;
    height: 15px;
  }

  button {
    width: 25%;
    height: 30px;
    background-color: #5a85c7;
    color: white;
    border-width: 0px;
    border-radius: 5px;
    align-self: center;
  }
}
.user-creator{
  height: 40rem;
  background-image: url("darthall.png");
  opacity: 1;
  background-size: cover;
  padding-top:1rem;
  margin-left:-1rem;
  margin-right:-1rem;
}
.signInHeader{
  text-align: center;
  background-color:white;
  border: 2px solid;
  padding:1rem;
  margin-right:10rem;
  margin-left:10rem;
  border-radius: 25px;
}
.email-input, .password-input{
  width:14rem;
  height:2rem;
  margin-top:1rem;
  margin-left:1rem;
}
.password-input{
  margin-right:2.86rem;
}
.email, .pass{
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding:.5rem;
}
.iconsBox{
  display:flex;
  justify-content: center;
  align-content: center;
}
.icon-list {
  padding-left:0rem;
  border-width: 1px;
  border-style: solid;
 

}
ul {
  list-style-type: none;
  width: 10rem;
  
}
ul li{
  float:left;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
ul li:hover{
  cursor: pointer;
}