body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

h1 {
  color: red;
  background-color: orange;
}

.top_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    margin-block-start: 5px;
  }

  a {
    text-decoration: none;
  }
}

.new_listing {
  display: flex;
  flex-direction: column;
  width: 50%;

  input {
    margin: 5px;
    height: 15px;
  }

  button {
    width: 25%;
    height: 30px;
    background-color: #5a85c7;
    color: white;
    border-width: 0px;
    border-radius: 5px;
    align-self: center;
  }
}

.listing-images {
  display: flex;
  flex-direction: row;
  img {
    width: 25%;
    height: auto;
  }
}

.chat {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;

  .convos {
    width: 50%;
    border: blueviolet;
    display: flex;
    flex-direction: column;
  }

  .conversation {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      margin-bottom: auto;
    }
  }
}