@import "~bootstrap/scss/bootstrap";

body, html {
  font-family: 'Rosarivo', serif;
  height: 100%;
  box-sizing: border-box;
  margin: 0;    //jonah testing this
  overflow-x: hidden;
  max-width: 100%;
}

h1{
  background-color: rgb(243, 240, 240);
}

.header {
  background-image: url('img/dartmouth-img-figma.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  // filter: brightness(90%);
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 550px;
  height: 550px;
  font-family: 'Rosarivo', serif;
}

#sublit-title{
  font-size: 125px;
  color: white;
  letter-spacing: 15px;
  top: 80px;
  left: 175px;
  position: relative;

}

.login-page{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}


#sublitLogo{
  background-image: url("logo3.png");
  width: 8.5rem;
  height:2.5rem;
  background-size: cover;
  margin-top:1rem;
  margin-left:1rem;
}

.top_bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  max-width: 100%;
  margin-bottom: 2%;
  // background-color:#EFFEF7;

  a {
    text-decoration: none;
    color: black;
  }

 
}
.middle-section{
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  padding: 20px;
  background-color: rgb(48, 48, 48);
}

.middle-section-row{
  display: flex;
  flex-direction: row;
  margin-top: -15px;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgb(243, 240, 240);
}

.middle-oval{
  width: 500px;
  height: 200px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 20px;
}
img{
  width: auto;
  height: auto;
}
#oval-one{
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}
#oval-two{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;}
#oval-three{
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
  color: inherit !important; 
}


.login-btn{
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 50px;
  width: 220px;
  align-content: center;

  a{
    font-size: 30px;
  }

  .screen {
    background-image: url("logo3.png");
    width: 8.5rem;
    height:2.5rem;
    background-size: cover;
    margin-top: 0.1rem;
    margin-left:1rem;
  }
}
.navlink :hover{
  text-decoration: none;
  
}

.bottom-nav{
  border-top: 1px solid white;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(48, 48, 48);
}
.right-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  width: 200px;
  margin-right: 20px;
}
.left-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  color: white;
  font-family: 'Rosarivo', serif;
  margin-left: 20px;
  font-size: 14px;
}

.img-flex{
  display: flex;
  flex-direction: column;
  width: 400px;
}
.mainpage-flex{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.page{
  font-family: 'Rosarivo', serif;

}
.map-div{
  width: 800px;
  height: fit-content;
  height: 900px;
}
.flex-btn{
  display: flex;
  flex-direction: row;
}
.img-text{
  text-align: center;
  background-color: white;
  border-radius: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.navlink{
  height: fit-content;
  width: fit-content;
  font-size: 30px;
  text-align: center;

}

.new_listing {
  display: flex;
  flex-direction: column;
  width: 50%;

  input {
    margin: 5px;
    height: 15px;
  }

  button {
    width: 25%;
    height: 30px;
    background-color: #5a85c7;
    color: white;
    border-width: 0px;
    border-radius: 5px;
    align-self: center;
  }
}

@media screen and (max-width: 768px){
  #sublit-title{
    font-size: 75px;
  }

  .navlink{
    font-size: 40px;

  }



  .login-btn{
    width: 50px;
    height: auto;
    a{
      font-size: 40px;
    }
  }
  .img-flex{
    width: 200px;
  }
}

.user-creator{
  height: 47rem;
  background-image: url("darthall.png");
  opacity: 1;
  background-size: 80rem 48rem;
  padding-top:1rem;
  padding-bottom:6rem;
  margin-left:-1rem;
  margin-right:-1rem;
  margin-top:-6rem;
}

.signInHeader{
  text-align: center;
  background-color:white;
  border: 2px solid;
  padding:1rem;
  margin-right:25rem;
  margin-left:25rem;
  border-radius: 25px;
  margin-top:5rem;
}

.email-input, .password-input, .name-input{
  width:14rem;
  height:2rem;
  margin-bottom:.5rem;
  margin-left:1rem;
}

.password-input{
  margin-right:2.86rem;
}

.email, .pass, .firstName, .signUpEmail{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding:.5rem;
}
.email{
  margin-top:3rem;
  margin-left:3.25rem;
}
.firstName{
  margin-right:2rem;
  margin-top:3rem;
}
.signUpEmail{
  margin-left:3.25rem;
}
.pass{
  margin-left:2.75rem;
}

.smallView{
  margin-top: 10px;
}

.iconsBox{
  display:flex;
  justify-content: center;
  align-content: center;
}

.smallview-outer{
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  div{
    font-weight: normal;
    font-size: 14px;
  }
}
#listings-div{
  background-color: lightblue;
  width: 400px;
  height: fit-content;
}
.listing-images {
  display: flex;
  flex-direction: row;
  img {
    width: 25%;
    height: auto;
  }
}

.chat {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;

  .convos {
    width: 50%;
    height: 100%;
    border: blueviolet;
    display: flex;
    flex-direction: column;

    .convo_preview {
      width: 90%;
      height: 10%;
      border: 1px solid black;
      border-radius: 3px;
      padding: 3px;
      transition: all 200ms;
    }

    .convo_preview:hover {
      background-color: #5a85c7;
      color: white;
    }

    .selected {
      background-color: #5a85c7;
      color: white;
      border-color: white;
    }
  }

  .conversation {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .message {
      text-align: left;
      border-radius: 5px;
      background-color: cornflowerblue;
      padding: 4px;
      margin: 4px;
      color: white;
      max-width: 50%;
    }
    .sent {
      align-self: flex-end;
    }
    .received {
      align-self: flex-start;
    }
  }
}

#listings-list{
  width: 100%;
  height: 100%;

}

ul {
  list-style-type: none;
  width: 10rem;
  
}

ul li{
  float:left;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul li:hover{
  cursor: pointer;
}
.new_listing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}
.allListings{
  display:flex;
  flex-direction:column;
}
.allListing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EFFEF7;
}

.addressInfo, .dateInfo, .termInfo, .rentInfo, .descriptionInfo, .peopleInfo, .roomInfo, .parkingInfo, .bathroomInfo, .amenityInfo, .entireAPTInfo, .imageUpload{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 35rem;
}

.autocomplete-root {
  input {
    width: 98%;
  }
}
.houseAPTtext{
  text-align: center;
}
.imageUpload{
  margin-bottom: 2rem;
}
.new_listing button{
  width:15rem;
}
.new_listing #largeSubmit{
  height:3rem;
  margin-bottom:5rem;
}

#largeSubmit {
  width: 300px;
}

input[type="file"] {
  display: none;
}

.custom-image-upload-button {
  width: 40%;
  height: 30px;
  background-color: #5a85c7;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  align-self: center;
  text-align: center;
  padding-top: 4px;
}

#add-picture {
  color: #5a85c7;
  font-size: 2rem;
}

.new_listing input {
  height: 2rem;
}
.descriptionInfo textarea, .amenityInfo textarea{
  height:8rem;
}